<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IcyBot - Commands</title>
  <link rel="stylesheet" href="./styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="shortcut icon" href="./icybotlogo.png" type="image/x-icon">
</head>
<body>
  <div class="topnav">
    <img src="./icybotlogo.png" alt="IcyBot's Logo" class="bot_logo" />
    <a href="https://website-test-ah.herokuapp.com/main" class="link">Home</a>
    <a href="https://website-test-ah.herokuapp.com/commands" class="link">Commands</a>
    <a href="https://discord.gg/6JBMEbyb3c" target="_blank" class="link">Support</a>
    <a href="https://discord.com/api/oauth2/authorize?client_id=776451014923386902&permissions=8&scope=bot%20applications.commands" target="_blank" class="link">Invite</a>
    <a href="https://website-test-ah.herokuapp.com/staff">Staff</a>
  </div>
  <br>
  <br>
  <h1 class="command-page-title">COMMANDS</h1>
  <h3 class="command-page-description">To take a look at the commands in your server, please use <code class="code">m!help</code>!</h3>
  <div class="commands">
    <div class="command-display">
      <% let i = 0 %>
      <% commands.forEach(({ group, cmds }) => { %>
        <h3 id="<%= group.split(' ').join('-').toLowerCase() %>" class="group-title"><%= group.toUpperCase() %></h3>
        <div class="command-box">
          <% cmds.forEach(({ name, arguments, aliases, description, permissions }) => { %>
            <button class="accordion" onclick="showPanel(`panel<%= i %>`)"><%= name %><br><strong class="strong"><%= description %></strong>
              <div class="panel-hide" id="panel<%= i %>">
                <p><strong class="panel-strong">Aliases:</strong><br><%= aliases %></p>
                <p><strong class="panel-strong">Usage:</strong><br>m!<%= name %> <%= arguments %></p>
                <p><strong class="panel-strong">Required permissions:</strong><br><%= permissions %></p>
              </div>
            </button>
            <% i += 1%>
          <% }) %>
        </div>
      <% }) %>
    </div>
    <div class="command-selection-bar">
      <% commands.forEach(({ group, cmds }) => { %>
        <a href="#<%= group.split(' ').join('-').toLowerCase() %>"><%= group.toUpperCase() %></a>
      <% }) %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <footer>
    <div class="footer">
      <div class="copyright">
        <h3>2021 Copyright IcyBot©</h3>
      </div>
      <div class="information">
        <p>Bot owner: IcyTea#1760</p>
        <p>Contact email: jasonnguyen439@gmail.com</p>
        <p>Please do not use any images or the logo of IcyBot without owner's permission!</p>
      </div>
    </div>
  </footer>
  <script>
    function showPanel(id) {
      const x = document.getElementById(id);
      if (x.className.indexOf('panel-show') === -1) {
        x.className += ' panel-show';
      } else {
        x.className = x.className.replace(' panel-show', '');
      }
    };
  </script>
</body>
</html>